/* General Styles */

body.bg-dark-900 {
  background-color: #1a1a2e;
  color: white;
}

body.bg-white {
  background-color: white;
  color: black;
}

.text-gray-200 {
  color: #d1d1e9;
}

.text-gray-300 {
  color: #b1b1c9;
}

.text-gray-400 {
  color: #9191a9;
}

.text-purple-400 {
  color: #a855f7;
}

.bg-dark-800 {
  background-color: #2b2b4b;
}

.bg-dark-700 {
  background-color: #3b3b5b;
}

/* Navbar Styles */
nav {
  padding: 1rem;
  background-color: #1a1a2e;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

nav a:hover {
  color: #a855f7;
}

nav a.bg-purple-500 {
  background-color: #a855f7;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Pricing Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: center; /* Center align the text */
}

/* Highlight the header row with purple color */
thead th {
  background-color: #a855f7; /* Purple background color */
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
}

tbody td {
  background-color: #2d3748;
  color: white;
  font-size: 0.875rem;
}

tbody tr:hover {
  background-color: #1a202c;
}

/* Section and Text Styles */
h2 {
  color: #a855f7;
  font-size: 1.875rem;
  font-weight: 700;
}

p {
  color: #9191a9;
  font-size: 1rem;
}

section {
  padding: 2rem;
}
